.jialiufl-favorite-and-like-button {
    display: flex;
    flex-direction: row;
    place-items: center;
    position: absolute;
    left: 40px;
    bottom: 40px;
    font-size: 16px;
    gap: 16px;

}