.jialiub-bookmark {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: inherit;
  color: inherit;
}

.jialiub-bookmark span {
  cursor: pointer;
  transition: color 0.3s ease;
}

.jialiub-bookmark span:hover {
  color: #e63946; /* Highlight color on hover */
}

.jialiub-bookmark-button-active {
  color: #e63946!important; /* Active color */
}
